*{
    padding: 0%;
    margin: 0%;
}

body{
    color: white;
}

#header{
    background-color: #B58A69;
    justify-content: center;
    align-items: center;
    height: 10%;
}

#nav{
    height: 5%;
}

#contenedor{
    width: 900px;
    height: 1200px;
    color: white;

}

#contenido{
    height: 65%;
    width: auto;
    background-color: #DEE5DE;

}

#fueraSeccion{
    background-color: #D7D7CB;
}

#footer{
    height: 5%;
    background-color: #5E5E4A;
}

.img{
    height: 190px;
    width: 340px;
    margin-left: 50px;
}

.imgSeccion{
    width: 350px;
    height: 220px;
}

.texto1{
    font-family: Avelar light;
    font-size: 32px;
    color: #000;
}

.texto2{
    font-size: 20px;
    text-align: justify;

}

.textofooter{
    font-family: Averial light;
    font-size: 40px;
    color: #BADA55;
}

.textoFooter{
    font-family: Avelar light;
    color: #e8e6e6;

}

.textoNav{
    font-family: Avelar light;
    color: #000;
    font-size: 18px;
}

li{
    display:inline
}

li a:hover{
    color: red;
}